html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    cursor: pointer;
    padding: 0px 8px;
}
/*Фиксированные цвета событий*/
.event-color-1 { background-color: #4CAF50; }  /* зеленый */
.event-color-2 { background-color: #2E7D32; }  /* темно-зеленый */
.event-color-3 { background-color: #7E57C2; }  /* фиолетовый */
.event-color-4 { background-color: #42A5F5; }  /* синий */
.event-color-5 { background-color: #1565C0; }  /* темно-синий */

header{
    padding: 10px 10px;
    height: 50px;
    display: flex;
    text-align: center;
}   

header .left button{
    color: grey;
}

header .right button{
    border-radius: 20px;
    border: 1px solid rgba(35, 166, 248, 1);
    padding: 5px 17px;
}

.list li{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    margin-left: 10px;
}

header .list {
    height: 50px;
}

.list .update,
.list .dots{
    padding: 3px 8px;
}

.list .update::before{
    content: "\f021";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: rgba(35, 166, 248, 1);
    font-weight: 900;
}

.selected {
  background-color: #dbeafe !important;
}

.list .dots::before{
    content: "\f141";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: rgba(35, 166, 248, 1);
    font-weight: 900;

}

header .right{
   margin-left: auto;
   padding-right: 15px;
}

#addButton {
  display: flex;
}

#addSearch {
  position: absolute;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
}

.modalHeader{
    text-align: center;
}

.modalButton{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly
}

.modalButton button{
    border-radius: 20px;
    border: 1px solid rgba(35, 166, 248, 1);
    padding: 5px 17px;
}

.modal .modal-content input{
  margin-top: 5%;
}

.title, .description, .details, #tagsInput, #tagsInputFew{
  margin-top: 10%;
  width: 100%;
}

.title:hover, 
.description:hover, 
.details:hover,
#tagsInput:hover {
  background-color: rgb(201, 230, 248);
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 5px;
  min-height: 25px;
}

.tag {
  background-color:rgba(35, 166, 248, 1);
  color: white;
  padding: 0px 8px;
  border-radius: 8px;
  font-size: 0.65rem;
  user-select: none;
  display: flex;
  align-items: center;
  border: 1px solid rgba(30, 64, 175, 1); 
}

.tag .remove-tag {
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
}

.main{
    display: flex;
    gap: 5px;
}

.left_part{
    width: 200px; min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    margin-left: 1%;
}

#calendar-container .dp-year {
    width: 55px;
}
#calendar-container .dp-month{
    width: 73px;
}

#calendar-container {
    width: 100%;
    font-size: 12px;
}

#calendar-container select{
    padding: 0 24px 0 3px;
}

.flatpickr-calendar {
  box-shadow: none !important;
}

.filter{
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;
}
.filter_right{
    margin-left: auto;
}

.main .first_section,
.main .second_section,
.main .third_section,
.main .fourth_section,
.main .fifth_section{
    height: 40px;
    align-items: center;
    padding: 0 10px;
}

.filter_left {
    font-weight: bold;
}

.first_section_right{
    margin-left: auto;
}

.left_part .button_inside{
    border-radius: 20px;
    border: 1px solid rgba(35, 166, 248, 1);
    padding: 4px 9px;
}

svg{
    color:  rgba(35, 166, 248, 1);
}

.middle_part{
    display: flex;
    flex-direction: column; 
    height: 100%;
    gap: 20px;
    min-width: 0;
    margin-left: 2%;
}
.header_of_table {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1%;
}

.header_of_table .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.middle_part .header_of_table .left  .count{
    padding: 0px 17px;
    border: 1px solid gray;
    border-radius: 20px;
}

.header_of_table .button_right::before{
    content: "\f061";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: grey;
    font-weight: 900;
}

.header_of_table .button_left::before{
    content: "\f060";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: grey;
    font-weight: 900;
}

.header_of_table .right{
    display: flex; 
    align-items: center;
    margin-left: auto;
}

.header_of_table .right .language::before{
    content: "\f0ac";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: black;
    font-weight: 900;
}

.weeklyButton{
    display: flex;
}

.weeklyButton button{
    gap: 50px;
}

#weeklyViewButton{
    cursor: pointer;
    border: 1px solid rgba(35, 166, 248, 1);
    border-radius: 5px;
    padding: 5px 20px;
}

.weeklyButton button:hover{
    color: white;
}

.calendar_table {
    display: flex;
    flex-direction: column;
    font-size: x-small;
    width: fit-content;
}
.calendar_table_wrap {
    overflow-x: auto;
}

.first_row {
    font-size: small;
    display: flex;
    font-weight: bold;
}

.first_row .first_dio {
    height: 46px;
    width: 46px;
    border: 1px solid #ccc;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_row .second_dio {
    display: flex;
    width: 1085px;
    /*! avoid px for containers width, if using fixed width, then you must handle overflow */
    /* flex-grow: 1; */
}

.first_row .second_dio > div {
    height: 46px;
    width: 155px;
    border: 1px solid #ccc;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-slots > div {
    display: flex;
}

.time-slots .first_dio {
    height: 46px;
    width: 46px;
    border: 1px solid #ccc;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-slots .second_dio {
    display: flex;
    width: 1085px;
}

.time-slots .second_dio > div {
    width: 155px;
    border: 1px solid #ccc;
    padding: 4px;
    box-sizing: border-box;
}

.day-headers {
    display: flex;
}

#timeSlots {
    display: flex;
    flex-direction: column;
}

.split-cell {
  min-height: 46px;
  width: 155px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}

.selected-day {
    background-color: #3b82f6;
    color: white;
    border-radius: 4px;
}

.split-cell::before {
  content: none;
}

.right_part{
    display: flex;
    margin-left: auto;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    height: 100%;
}

.main .right_part button{
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 3px 8px;
}

.right_part .list::before{
    content: "\f0ae";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: grey;
    font-weight: 900;
}

.right_part .diagramm::before{
    content: "\f201";
    vertical-align: middle;
    font-family: "Font Awesome 6 Free";
    color: grey;
    font-weight: 900;
}