body{
    margin: 0;
    font-family: sans-serif;
}
button{
    cursor: pointer;
    padding: 0px 8px;
}
header{
    padding: 10px 10px;
    height: 50px;
    display: flex;
    text-align: center;
}   
header .left button{
    color: grey;
}
header .right button{
    border-radius: 20px;
    border: 2px solid rgb(164, 164, 250);
    padding: 7px 15px;
}
.list li{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    margin-left: 10px;
}
header .list {
    height: 50px;
}
header .right{
   margin-left: auto;
}
.main{
    display: flex;
}
.left_part {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#calendar-container {
    width: 320px;
}
.filter{
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;
}
.filter_right{
    margin-left: auto;
}
.main .first_section,
.main .second_section,
.main .third_section,
.main .fourth_section,
.main .fifth_section{
    height: 50px;
    align-items: center;
}
.middle_part{
    display: flex;
    flex-direction: column; 
    gap: 20px;
}
.header_of_table{
    display: flex;
}

.header_of_table .right{
   margin-left: auto;
}
.middle_part .count{
    border-radius: 20px;
    border: 2px solid grey;
    padding: 5px 10px;
}
.calendar_table{
    display: flex;
} 
 .days{
    height: 10px;
}      
.time > div,
.days > div {
    height: 60px;
    border: 1px solid #ccc;
    padding: 4px;
    box-sizing: border-box;
}
.right_part{
    display: flex;
    margin-left: auto;
}
